numpy>=1.26.4
matplotlib>=3.8.4
openai>=1.28.1
pybullet>=3.2.6
-e git+https://github.com/utiasDSL/gym-pybullet-drones.git@3d7b12edd4915a27e6cec9f2c0eb4b5479f7735e#egg=gym_pybullet_drones
Pillow>=10.3.0
gurobipy>=11.0.1
stlpy>=0.3.0
sounddevice>=0.4.6
pyaudio>=0.2.14
pygame>=2.5.0